@config "../../tailwind.config.js";
@import "tailwindcss";

:root {
  --background: #06080c;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #06080c;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
